<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Run a Simulation</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'views/index.js' %}"></script>
</head>
<body>
    <div id="away_team" class="float-left">
        Select Away Team:
        <select id="away_team_select">
            {% for team in teams %}
                <option value={{team.id}}>{{team.team_name}}</option>
            {% endfor %}
        </select>
        <table>
            <tr>
                <th></th>
                <th>Player Name</th>
                <th>Position</th>
            </tr>
            {% for i in range %}
            <tr>
                <td>{{i}}</td>
                <td id="away_batter_{{i}}">
                    <select>
                        {% for batter in batters %}
                            <option value={{batter.id}}>{{batter.full_name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select>
                        <option>P</option>
                        <option>C</option>
                        <option>1B</option>
                        <option>2B</option>
                        <option>3B</option>
                        <option>SS</option>
                        <option>LF</option>
                        <option>CF</option>
                        <option>RF</option>
                        <option>DH</option>
                    </select>
                </td>
            </tr>
            {% endfor %}

        </table>
        <div id="away_pitcher">
            Pitcher:
            <select id="away_pitcher_select">
                {% for pitcher in pitchers %}
                    <option value={{pitcher.id}}>{{pitcher.full_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="home_team" class="float-right">
        Select Home Team:
        <select id="home_team_select">
            {% for team in teams %}
                <option value={{team.id}}>{{team.team_name}}</option>
            {% endfor %}
        </select>
        <table>
            <tr>
                <th></th>
                <th>Player Name</th>
                <th>Player Position</th>
            </tr>
            {% for i in range %}
            <tr>
                <td>{{i}}</td>
                <td id="home_batter_{{i}}">
                    <select>
                        {% for batter in batters %}
                            <option value={{batter.id}}>{{batter.full_name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select>
                        <option>P</option>
                        <option>C</option>
                        <option>1B</option>
                        <option>2B</option>
                        <option>3B</option>
                        <option>SS</option>
                        <option>LF</option>
                        <option>CF</option>
                        <option>RF</option>
                        <option>DH</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>

        <div id="home_pitcher">
            Pitcher:
            <select id="home_pitcher_select">
                {% for pitcher in pitchers %}
                    <option value={{pitcher.id}}>{{pitcher.full_name}}</option>
                {% endfor %}
            </select>
        </div>

    </div>

</body>
</html>