{% extends "./navbar.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>View Teams</title>
</head>
<body>
    <div id="content" class="main-window">
        <h4>{{errors}}</h4>
        <table>
            <th>Team Name</th><th>Professional</th>
            {% for team in teams %}
            <tr><td><li><a href="/team/{{team.id}}">{{team.team_name}}</a></li></td><td>{{team.professional}}</td></tr>
            {% endfor %}
        </table>

    </div>
</body>
{% endblock %}